.wrap {
    align-items: center;
    width: 140px;
    height: 135px;

    color: white;
    background-color: black;
    border-radius: 8px;
    border: 1px solid white;
}

.pos0 {
    grid-area: 1 / 1 / 2 / 2;
}

.pos1 {
    grid-area: 1 / 2 / 2 / 3;
}

.pos2 {
    grid-area: 1 / 3 / 2 / 4;
}

.pos3 {
    grid-area: 1 / 4 / 2 / 5;
}

.pos4 {
    grid-area: 2 / 1 / 3 / 2;
}

.pos5 {
    grid-area: 2 / 4 / 3 / 5;
}

.pos6 {
    grid-area: 3 / 1 / 4 / 2;
}

.pos7 {
    grid-area: 3 / 2 / 4 / 3;
}

.pos8 {
    grid-area: 3 / 3 / 4 / 4;
}

.pos9 {
    grid-area: 3 / 4 / 4 / 5;
}
