.sender {
    color: white;
    font-weight: bold;
}

.message {
    color: white;
}

.wrap {
    height: 175px;
    width: 245px;
    overflow: auto;
}

.col {
    position: fixed;
    bottom: 0;
    left: 0;
}

@media (max-width: 930px) {
    .wrap {
        height: 50px;
    }
}
